<div class="row">
  <div class="large-7 medium-6 small-12 columns">
    <h2>Hoşgeldiniz</h2>
    <%= render 'form' %>
  </div>
  <div class="large-5 medium-6 columns side-panel hide-for-small">
    <h3>Kayıt</h3>
    <p>Kaydolman gerekiyor</p>
    <ul>
      <li>Tahminler</li>
      <li>Yorumlar</li>
    </ul>
  </div>
</div>