<% content_for(:forum_content) do %>
    <div class="large-12 columns">
      <h1><%= @forum.name %> forumu</h1>
      <p>Foruma ait konular</p>
      <%= link_to 'Konu Aç', new_forum_topic_path(@forum), class: 'tiny button right' %>
    </div>
    <div class="topics panel columns radius">
      <% if @forum.topics.any? %>
          <%= render @forum.topics %>
      <% else %>
          <p>Henüz hiç konu açılmamış</p>
      <% end %>
    </div>
<% end %>